@import './components/navigation/navigation';
@import './components/header/header';
@import './components/footer/footer';
@import './components/mainLogo';
@import './components/button';
@import './components/icon';
@import './components/cathegories/cathegoryList';
@import './components/announcements/announcementList';
@import './components/announcements/announcement';
@import './components/imageGallery';

@import './pages/home';
@import './pages/register';
@import './pages/login';
@import './pages/article';

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    color: #202020;
}
main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
a{
    color: #508200;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h2{
    font-size: 20px;  
}